%btn {
  width: auto;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  text-align: center;
  box-shadow: none;
  border: 2px solid currentColor;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 190px;
  @include bd-radius(0.125rem);

  @include hover-focus-active {
    @include set-background(color(secondary));
  }
}
%btn-light {
  @extend %btn;
  border: 2px solid color(primary);
  text-decoration: none;
}
%btn-dark {
  @extend %btn;
  @include set-background(color(dark));
  text-decoration: none;
}
.btn-sm {
  @extend %btn;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
}
.btn-primary {
  @extend %btn;
  min-width: 190px;
  @include set-background(color(primary));
  @include bd-radius(50px);
  font-weight: weight(bold);
}
.btn-secondary {
  @extend %btn;
  min-width: 190px;
  @include set-background(color(dark));
  @include bd-radius(50px);
  font-weight: weight(bold);
  border: 2px solid color(dark);

  @include hover-focus {
    border: 2px solid color(dark);
    color: color(dark);
    background: transparent;
  }
}
.btn-light {
  @extend %btn-light;
  min-width: 190px;
  @include bd-radius(50px);
  font-weight: weight(bold);
  @include hover-focus {
    border: 2px solid color(dark);
  }
}
.hero-btn {
  @extend %btn;
  @include set-background(color(light));
  @include bd-radius(0.938rem);
  font-size: 1.5rem;
  padding: 0.5em 0.75em;
  font-weight: weight(black);
  text-align: left;

  img {
    vertical-align: baseline;
    @include padding(left, 0.25);
    width: 1.5rem;
  }

  span {
    display: block;
    font-weight: weight(light);
  }

  @include media(">=md") {
    font-size: 1.875rem;
    padding: 0.5em 1.25em;

    img {
      width: 1.75rem;
    }
  }
}

.get-btn {
  @extend %btn;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid color(light);
  @include bd-radius(1.875rem);

  i {
    font-size: 1.5rem;
    padding-left: 0.25em;
    vertical-align: text-bottom;
  }
}
